.section-2{
	text-align:center;
	font-family: sans-serif;
	font-size:40px;
	background-color:#4fbfa8;
	color:#322E2D;
	height: 550px;
	line-height: 550px;
}
.non{
	display:none;
}
.padd{
	height: 300px; 
}
.noir{
	color:#322E2D !important;
}
.noir2{
	color:#322E2D !important;
}

.loader{
	z-index: 9999;
	width: 50px;
	height: 50px;
	display:inline-block;
	vertical-align: middle;
	position:relative;
}

.loader-double{
	border-radius:50px;
	border:3px solid transparent;
	border-top-color:#322E2D;
	border-bottom-color:#322E2D;
	-webkit-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}

.loader-double:before{
	content:'';
	position: absolute;
	top:15px;
	left: 15px;
	bottom:15px;
	right: 15px;
	border-radius: 50px;
	border:3px solid transparent;
	border-top-color:#322E2D;
	border-bottom-color:#322E2D;
	opacity:1;
	-webkit-animation:spin 10s linear infinite;
	animation:spin 10s linear infinite;
}
.loader-double:after{
	content:'';
	position: absolute;
	top:5px;
	left: 5px;
	bottom:5px;
	right: 5px;
	border-radius: 50px;
	border:3px solid transparent;
	border-top-color:#322E2D;
	border-bottom-color:#322E2D;
	opacity:1;
	-webkit-animation:spin 5s linear infinite;
	animation:spin 5s linear infinite;
}

@keyframes spin{
	0%{ -webkit-transform:rotate(0deg); transform: rotate(0deg); 
}
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
	}

@keyframes spinreverse{
	0%{ -webkit-transform:rotate(0deg); transform: rotate(0deg); 
}
	100%{ -webkit-transform: rotate(-360deg); transform: rotate(360deg); }
	}
#content{
	display:none;

}
.noirnoir{
	color:#322E2D;
}

@media screen and (max-width: 992px) {
  .media {
flex-direction: column;
align-items: center !important;
  }
.mediacentre{
flex-direction: column;
text-align: center;
  }
}